body{
    background-color: rgba(0, 0, 0, 0.349);
    margin: 0px;
}

h1{
    color:rgb(255, 255, 255);
    text-align: center;
}
h2{
    Color:black;
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    Color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: black;
}
.navbar li{
    float: left;
}
p{
    text-align: center;
}
